<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Spring Boot 3</title>
    </head>
    <body>
        <div th:replace="~{/layout/fragments :: pageHeader('직원 상세 페이지')}"></div>
        
        <main>
            <table>
                <tbody th:object="${employee}">
                    <tr>
                        <th>사번</th>
                        <td th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td th:text="|*{firstName} *{lastName}|"></td>
                        
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <th>핸드폰</th>
                        <td th:text="*{phoneNumber}"></td>
                    </tr>
                    <tr>
                        <th>입사날짜</th>
                        <td th:text="*{hireDate}"></td>
                    </tr>
                    <tr>
                        <th>직업</th>
                        <th th:text="*{job.jobTitle}"></th>
                    </tr>
                    <tr>
                        <th>급여</th>
                        <td th:text="*{salary}"></td>
                    </tr>
                    <tr>
                        <th>수당</th>
                        <td th:text="*{commissionPct}"></td>
                    </tr>
                    <tr>
                        <th>매니저</th>
                        <td>
                            <th:block th:if="*{manager != null}">
                                <a th:href="@{/employee/details/{id}(id=*{manager.id})}"
                                    th:text="|*{manager.firstName} *{manager.lastName}|"></a>
                            </th:block>
                            <th:block th:if="*{manager == null}">
                                ---
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>부서</th>
                        <td>
                            <a th:href="@{/department/details/{id}(id=*{department.id})}"
                                th:text="*{department.departmentName}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>