<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Spring Boot 3</title>
<style>
tbody {
    text-align: center;
}
</style>
</head>
<body>
    <div th:replace="~{/layout/fragments :: pageHeader('직원 목록 페이지')}"></div>

    <main>
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>이름</th>
                    <th>성</th>
                    <th>이메일</th>
                    <th>핸드폰</th>
                    <th>입사일</th>
                    <th>직업</th>
                    <th>급여</th>
                    <th>수당</th>
                    <th>매니저</th>
                    <th>부서</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="emp : ${employees}" th:object="${emp}">
                    <td><a
                        th:href="@{/employee/details/{id}(id=*{id})}"
                        th:text="*{id}"></a></td>
                    <td><a
                        th:href="@{/employee/details/{id}(id=*{id})}"
                        th:text="*{firstName}"></a></td>
                    <td><a
                        th:href="@{/employee/details/{id}(id=*{id})}"
                        th:text="*{lastName}"></a></td>
                    <td th:text="*{email}"></td>
                    <td th:text="*{phoneNumber}"></td>
                    <td th:text="*{hireDate}"></td>
                    <td><a
                        th:href="@{/job/details/{id}(id=*{job.id})}"
                        th:text="*{job.id}"></a></td>
                    <td th:text="*{salary}"></td>
                    <td th:text="*{commissionPct}"></td>
                    <td><th:block th:if="*{manager != null}">
                            <a
                                th:href="@{/employee/details/{id}(id=*{manager.id})}"
                                th:text="|*{manager.firstName} *{manager.lastName}|"></a>
                        </th:block></td>
                    <td><a
                        th:href="@{/department/details/{id}(id=*{department.id})}"
                        th:text="*{department.departmentName}"></a></td>

                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>