<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Spring Boot 3</title>
    </head>
    <body>
        <div th:replace="~{/layout/fragments :: pageHeader('나라 상세 페이지')}"></div>
        
        <main>
            <table>
                <tbody th:object="${country}">
                    <tr>
                        <th>나라이름</th>
                        <td th:text="*{countryName}"></td>
                    </tr>
                    <tr>
                        <th>지역</th>
                        <th th:text="*{region.regionName}"></th>
                    </tr>
                   
                </tbody>
            </table>
        </main>
    </body>
</html>