<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Sprint Boot3</title>
<style>
    tbody{
        text-align: center;
    }
</style>
</head>
<body>
    <div th:replace="~{/layout/fragments :: pageHeader('나라 목록 페이지')}"></div>

    <main>
        <table>
            <thead>
                <tr>
                    <th>나라</th>
                    <th>지역</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cnt : ${countries}" th:object="${cnt}">
                   <td th:text = "*{countryName}"></td>
                    <td><a
                        th:href="@{/region/details/{id}(id=*{region.id})}"
                        th:text="*{region.name}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

</body>
</html>