<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Spring Boot 3</title>
    </head>
    <body>
        <div th:replace="~{/layout/fragments :: pageHeader('직원 상세 페이지')}"></div>
        
        <main>
            <table>
                <tbody th:object="${job}">
                    <tr>
                        <th>직업아이디</th>
                        <td th:text="*{id}"></td>
                    </tr>
                    <tr>
                        <th>직업명</th>
                        <td th:text="*{jobTitle}"></td>
                        
                    </tr>
                    <tr>
                        <th>최소수당</th>
                        <td th:text="*{minSalary}"></td>
                    </tr>
                    <tr>
                        <th>최대수당</th>
                        <td th:text="*{maxSalary}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>